header {
	float: left;
	width: 100%;
	background-color: #566684;
}
.header-data {
	float: left;
	width: 100%;
}
.logo {
	float: left;
	width: 40px;
	margin-right: 14px;
	margin-top: 19px;
}
.logo.pd-btm {
	padding-bottom: 10px;
}
.forum-bar {
	float: left;
	margin-top: 10px;
	width: 400px;
}
.forum-bar h2 {
	float: left;
	margin-right: 40px;
}
.forum-bar ul {
	float: left;
	margin-top: 0px;
}
.ask-question {
	background-color: #fff;
	padding: 10px 25px;
	color: #566684 !important;
	font-size: 14px;
	font-weight: 600;
}
.ask-question:hover {
	color: #566684;
}

.forum-bar ul li {
	display: inline-block;
	margin-right: 40px;
}
.forum-bar ul li:last-child {
	margin-right: 0;
}
.forum-bar ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}
.forum-bar h2 {
	color: #ffffff;
	font-size: 28px;
	font-weight: 500;
}
@media (max-width: 1200px) {
	header nav {position: fixed;top: 0;left: 0;width: 200px;height: 100%;background-color: #566684;padding: 25px 20px;opacity: 0;visibility: hidden;z-index: 0}
	header nav.active {opacity: 1;visibility: visible;z-index: 9999;}
	header nav ul li {float: left;width: 100%;text-align: left;padding: 0 0 0 0;margin-bottom: 20px;}
	.menu-btn {display: block;}
	header nav ul li span {display: inline-block;margin-right: 10px;}
	.widget-about h3 {font-size: 16px;}
	.widget-about span {font-size: 13px;}
	.suggestion-usd {padding: 15px 5px;}
	.cp-sec p {margin-top: 10px;float: none;}
	.comment_box input {width: 281px;}
	.job-details {width: 112px;}
	.job-details h3 {line-height: 18px;}
	.sd-title h3 {font-size: 15px;}
	.cp-sec > img {text-align: center;float: none;}
	.cp-sec {text-align: center;}
	.flw-status li {margin-right: 10px;}
	.flw-status li span {font-size: 16px;}
	.social_links li a {font-size: 10px;}
	.footy-sec ul {width: 100%;text-align: center;}
	.fl-rgt {float: none;margin-top: 0;padding-bottom: 20px;width: auto;padding-right: 0;}
	.footy-sec.mn p {margin-top: 0;padding-bottom: 20px;}
	.footy-sec.mn ul {padding: 30px 0 25px 0;}
	.hr-rate {margin-top: 10px;}
	.filter-secs {margin-bottom: 40px;}
	.tab-feed ul li {margin-bottom: 30px;}
	.star-descp > a {float: left;width: 100%;margin-left: 0;margin-top: 10px;}
	.tab-feed {margin-bottom: 30px;}
	.footy-sec p {width: 100%;text-align: center;margin-top: 15px;}
	.footy-sec p img {float: none;top: 2px;}
	.footy-sec {text-align: center;}
	.search-bar.st2 {display: none;}
	.usr_quest {width: 85%;}
	.full-pagi {display: block !important;}
	.post_comment_sec {width: 85%;}
	.acc-leftbar .nav-tabs > a i {width: 30px;}
	.acc-leftbar .nav-tabs > a {font-size: 14px;}
	.notification-box {left: 100%;top: 0;}
	nav ul ul {left: 50%;top: 0;border: 1px solid #e4e4e4;padding-left: 20px;padding-right: 20px;}
	.sgt-text span {font-size: 12px;}
}




/* ========== login_register ========== */

.login_register {
	float: right;
	margin-top: 8px;
	padding-left: 30px;
}
.login_register ul li {
	display: inline-block;
	margin-right: 8px;
}
.login_register ul li:last-child {
	margin-right: 0;
}
.login_register ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	border: 1px solid #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-weight: 600;
}
.search-bar.st2 {
	float: right;
}
.search-bar {
	float: left;
	width: 280px;
	margin-top: 9px;
}
.search-bar form {
	float: left;
	width: 100%;
	position: relative;
}
.search-bar form input {
	width: 100%;
	background-color: #fff;
	height: 38px;
	color: #b2b2b2;
	font-size: 12px;
	border: 0;
	padding: 0 10px;
}
.search-bar form button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #efefef;
	width: 38px;
	height: 100%;
	border: 0;
}
.search-bar form button i {
	color: #566684;
	font-size: 20px;
	font-weight: bold;
}

nav {
	float: left;
	width: 60%;
	text-align: right;
	padding-right: 13px;
}
nav ul li {
	display: inline-block;
	text-align: center;
	padding: 13px 13px;
	position: relative;
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: #566684;
	text-align: left;
	padding: 20px 0 10px 0;
	opacity: 0;
	visibility: hidden;
	z-index: 999999;
}
nav ul ul li {
	padding: 0;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding: 0 20px;
}
nav ul ul li a:hover {
	color: #fff;
}
nav ul ul li a {
	font-size: 16px;
}
.notification-box.msg p {
	line-height: 16px;
	font-size: 12px;
}
.notification-box.msg .nott-list .notification-info span {
	bottom: auto;
	top: 5px;
}
.notification-box.msg .notification-info h3 {
	margin-bottom: 1px;
}
.notification-box.msg .nott-list .notfication-details {
	padding: 17px 20px 17px 20px;
}
.notification-box {
	position: absolute;
	top: 100%;
	right: 0;
	width: 300px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
}
.notification-box.active {
	opacity: 1;
	visibility: visible;
	z-index: 999999999;
}
.nt-title {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 20px;
}
.nt-title h4 {
	float: left;
	color: #686868;
	font-size: 12px;
	font-weight: 600;
}
.nt-title > a {
	float: right;
	color: #686868;
	font-size: 12px;
	font-weight: 600;
}
.nott-list {
	float: left;
	width: 100%;
}
.nott-list .notification-info {
	width: 86%;
	float: left;
	text-align: left;
	position: relative;
}
.nott-list .notfication-details {
	padding: 20px 20px 12px 20px;
}
.nott-list .notification-info h3 {
	line-height: 20px;
}
.nott-list .notification-info span {
	position: absolute;
	bottom: 5px;
	right: 0;
}
.view-all-nots {
	float: left;
	width: 100%;
}
.view-all-nots > a {
	float: left;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	text-align: center;
	background-color: #566684;
	padding: 18px 0;
}
nav ul li span {
	display: block;
	height: 14px;
}
nav ul li span img {
	float: none;
}
nav ul li a {
	color: #ffffff;
	font-size: 14px;
}
nav > ul > li > a:hover {
	color: #fff;
}

.user-account {
	float: right;
	width: 110px;
	/* border-left: 1px solid #bbbbff;
	border-right: 1px solid #bbbbff; */
	box-sizing: border-box;
	position: relative;
}
.user-info {
	float: left;
	width: 100%;
	padding: 19px 10px;
	position: relative;
}
.user-account-settingss {
	position: absolute;
	top: 56px;
	right: 0;
	width: 240px;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	opacity: 0;
	visibility: hidden;
}
.user-account-settingss.active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.user-account-settingss > h3 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 20px;
}
.on-off-status {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.on-off-status li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.on-off-status li:last-child {
	margin-bottom: 0;
}
.on-off-status li .fgt-sec small {
	color: #686868;
}

/* =========== search_form =========== */

.search_form {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.search_form form {
	float: left;
	width: 100%;
	position: relative;
}
.search_form form input {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
}
.search_form form button {
	color: #f2f2f2;
	font-size: 14px;
	background-color: #566684;
	padding: 0 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	font-weight: 600;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}


/* ============ us-links ============= */

.us-links {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}
.us-links li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.us-links li:last-child {
	margin-bottom: 0;
}
.us-links li a {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 14px;
	font-weight: 600;
}
.tc {
	text-align: center;
}
.tc a {
	color: #000;
}
.user-info img {
	margin-right: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.user-info a {
	color: #fff;
	font-size: 14px;
	float: left;
}
.user-info a:hover {
	color: #fff;
}
.user-info > i {
	position: absolute;
	top: 51%;
	right: 10px;
	color: #fff;
	font-size: 12px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
